In [2]:
import pandas as pd
import numpy as np

In [3]:
insurance=pd.read_csv("insurance.csv")

In [4]:
insurance.head()

         id age     sex     bmi  children smoker     region      charges
0  15634602  19  female  27.900         0    yes  southwest    16884.924
1  15647311  18    male  33.770         1     no  southeast    1725.5523
2  15619304  28    male  33.000         3     no  southeast     4449.462
3  15701354  33    male  22.705         0     no  northwest  21984.47061
4  15737888  32    male  28.880         0     no  northwest    3866.8552

In [5]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1340 non-null   int64
 1   age       1340 non-null   object
 2   sex       1340 non-null   object
 3   bmi       1332 non-null   float64
 4   children  1340 non-null   int64
 5   smoker    1340 non-null   object
 6   region    1340 non-null   object
 7   charges   1340 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 83.9+ KB

In [6]:
#错误值处理
#将指定列中值为‘？’的cell修改为空值，然后去除含有空值的记录（行）
cols = ['age','charges']
for column in cols:
    insurance.loc[insurance[column] == '?', column] = np.nan

In [6]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1340 non-null   int64
 1   age       1336 non-null   object
 2   sex       1340 non-null   object
 3   bmi       1332 non-null   float64
 4   children  1340 non-null   int64
 5   smoker    1340 non-null   object
 6   region    1340 non-null   object
 7   charges   1339 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 83.9+ KB

In [7]:
#缺失值处理
#前向填充bmi值填入缺失值的cell内
insurance.bmi.fillna(method='ffill',inplace=True)

C:\Users\v-jingyuzhao\AppData\Local\Temp\ipykernel_29612\4232445716.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  insurance.bmi.fillna(method='ffill',inplace=True)

In [8]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1340 non-null   int64
 1   age       1336 non-null   object
 2   sex       1340 non-null   object
 3   bmi       1340 non-null   float64
 4   children  1340 non-null   int64
 5   smoker    1340 non-null   object
 6   region    1340 non-null   object
 7   charges   1339 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 83.9+ KB

In [9]:
#然后去除含有空值的记录（行）
insurance.dropna(axis = 0, inplace = True)

In [10]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1336 entries, 0 to 1339
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1336 non-null   int64
 1   age       1336 non-null   object
 2   sex       1336 non-null   object
 3   bmi       1336 non-null   float64
 4   children  1336 non-null   int64
 5   smoker    1336 non-null   object
 6   region    1336 non-null   object
 7   charges   1336 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 93.9+ KB

In [11]:
#重复值处理
#去除重复值
insurance.drop_duplicates(subset = 'id', keep = 'first', inplace = True)

In [12]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1334 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1334 non-null   int64
 1   age       1334 non-null   object
 2   sex       1334 non-null   object
 3   bmi       1334 non-null   float64
 4   children  1334 non-null   int64
 5   smoker    1334 non-null   object
 6   region    1334 non-null   object
 7   charges   1334 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 93.8+ KB

In [13]:
insurance.describe()

                 id          bmi     children
count  1.334000e+03  1334.000000  1334.000000
mean   1.569083e+07    30.689059     1.096702
std    7.192457e+04     6.097047     1.205926
min    1.556570e+07    15.960000     0.000000
25%    1.562823e+07    26.315000     0.000000
50%    1.569004e+07    30.400000     1.000000
75%    1.575077e+07    34.752500     2.000000
max    1.581536e+07    53.130000     5.000000

In [14]:
insurance.age=insurance.age.astype(float)
insurance.charges=insurance.charges.astype(float)

In [15]:
insurance.describe()

                 id          age          bmi     children       charges
count  1.334000e+03  1334.000000  1334.000000  1334.000000   1334.000000
mean   1.569083e+07    39.206897    30.689059     1.096702  13240.732052
std    7.192457e+04    14.047313     6.097047     1.205926  12094.420611
min    1.556570e+07    18.000000    15.960000     0.000000   1121.873900
25%    1.562823e+07    27.000000    26.315000     0.000000   4724.369462
50%    1.569004e+07    39.000000    30.400000     1.000000   9369.615750
75%    1.575077e+07    51.000000    34.752500     2.000000  16584.318157
max    1.581536e+07    64.000000    53.130000     5.000000  63770.428010

In [16]:
# min-max归一化
insurance["bmi_norm"]=(insurance["bmi"]-insurance["bmi"].min())/(insurance["bmi"].max()-insurance["bmi"].min())
insurance.head(20)

,id,age,sex,bmi,children,smoker,region,charges,bmi_norm
0,15634602,19.0,female,27.900,0,yes,southwest,16884.92400,0.321227
1,15647311,18.0,male,33.770,1,no,southeast,1725.55230,0.479150
2,15619304,28.0,male,33.000,3,no,southeast,4449.46200,0.458434
3,15701354,33.0,male,22.705,0,no,northwest,21984.47061,0.181464
4,15737888,32.0,male,28.880,0,no,northwest,3866.85520,0.347592
5,15574012,31.0,female,25.740,0,no,southeast,3756.62160,0.263115
6,15592531,46.0,female,33.440,1,no,southeast,8240.58960,0.470272
7,15656148,37.0,female,27.740,3,no,northwest,7281.50560,0.316922
8,15792365,37.0,male,29.830,2,no,northeast,6406.41070,0.373150
9,15592389,60.0,female,25.840,0,no,northwest,28923.13692,0.265806
10,15767821,25.0,male,26.220,0,no,northeast,2721.32080,0.276029
11,15737173,62.0,female,26.290,0,yes,southeast,27808.72510,0.277912
12,15632264,23.0,male,34.400,0,no,southwest,1826.84300,0.496099
13,15691483,56.0,female,34.400,0,no,southeast,11090.71780,0.496099
14,15600882,27.0,male,42.130,0,yes,southeast,39611.75770,0.704062
15,15643966,19.0,male,24.600,1,no,southwest,1837.23700,0.232446
16,15737452,52.0,female,30.780,1,no,northeast,10797.33620,0.398709
17,15788218,23.0,male,23.845,0,no,northeast,2395.17155,0.212133
18,15661507,56.0,male,40.300,0,no,southwest,10602.38500,0.654829
19,15568982,30.0,male,35.300,0,yes,southwest,36837.46700,0.520312

In [17]:
# z-score标准化
insurance["bmi_standard"]=(insurance["bmi"]-insurance["bmi"].mean())/insurance["bmi"].std()
insurance.head(20)

,id,age,sex,bmi,children,smoker,region,charges,bmi_norm,bmi_standard
0,15634602,19.0,female,27.900,0,yes,southwest,16884.92400,0.321227,-0.457444
1,15647311,18.0,male,33.770,1,no,southeast,1725.55230,0.479150,0.505317
2,15619304,28.0,male,33.000,3,no,southeast,4449.46200,0.458434,0.379026
3,15701354,33.0,male,22.705,0,no,northwest,21984.47061,0.181464,-1.309496
4,15737888,32.0,male,28.880,0,no,northwest,3866.85520,0.347592,-0.296711
5,15574012,31.0,female,25.740,0,no,southeast,3756.62160,0.263115,-0.811714
6,15592531,46.0,female,33.440,1,no,southeast,8240.58960,0.470272,0.451192
7,15656148,37.0,female,27.740,3,no,northwest,7281.50560,0.316922,-0.483687
8,15792365,37.0,male,29.830,2,no,northeast,6406.41070,0.373150,-0.140898
9,15592389,60.0,female,25.840,0,no,northwest,28923.13692,0.265806,-0.795313
10,15767821,25.0,male,26.220,0,no,northeast,2721.32080,0.276029,-0.732988
11,15737173,62.0,female,26.290,0,yes,southeast,27808.72510,0.277912,-0.721507
12,15632264,23.0,male,34.400,0,no,southwest,1826.84300,0.496099,0.608646
13,15691483,56.0,female,34.400,0,no,southeast,11090.71780,0.496099,0.608646
14,15600882,27.0,male,42.130,0,yes,southeast,39611.75770,0.704062,1.876473
15,15643966,19.0,male,24.600,1,no,southwest,1837.23700,0.232446,-0.998690
16,15737452,52.0,female,30.780,1,no,northeast,10797.33620,0.398709,0.014916
17,15788218,23.0,male,23.845,0,no,northeast,2395.17155,0.212133,-1.122520
18,15661507,56.0,male,40.300,0,no,southwest,10602.38500,0.654829,1.576327
19,15568982,30.0,male,35.300,0,yes,southwest,36837.46700,0.520312,0.756258

In [18]:
bins=[0,22,26,30,100]
insurance["bmi_counts"]=pd.cut(insurance["bmi"],bins)
insurance.head(20)

,id,age,sex,bmi,children,smoker,region,charges,bmi_norm,bmi_standard,bmi_counts
0,15634602,19.0,female,27.900,0,yes,southwest,16884.92400,0.321227,-0.457444,"(26, 30]"
1,15647311,18.0,male,33.770,1,no,southeast,1725.55230,0.479150,0.505317,"(30, 100]"
2,15619304,28.0,male,33.000,3,no,southeast,4449.46200,0.458434,0.379026,"(30, 100]"
3,15701354,33.0,male,22.705,0,no,northwest,21984.47061,0.181464,-1.309496,"(22, 26]"
4,15737888,32.0,male,28.880,0,no,northwest,3866.85520,0.347592,-0.296711,"(26, 30]"
5,15574012,31.0,female,25.740,0,no,southeast,3756.62160,0.263115,-0.811714,"(22, 26]"
6,15592531,46.0,female,33.440,1,no,southeast,8240.58960,0.470272,0.451192,"(30, 100]"
7,15656148,37.0,female,27.740,3,no,northwest,7281.50560,0.316922,-0.483687,"(26, 30]"
8,15792365,37.0,male,29.830,2,no,northeast,6406.41070,0.373150,-0.140898,"(26, 30]"
9,15592389,60.0,female,25.840,0,no,northwest,28923.13692,0.265806,-0.795313,"(22, 26]"
10,15767821,25.0,male,26.220,0,no,northeast,2721.32080,0.276029,-0.732988,"(26, 30]"
11,15737173,62.0,female,26.290,0,yes,southeast,27808.72510,0.277912,-0.721507,"(26, 30]"
12,15632264,23.0,male,34.400,0,no,southwest,1826.84300,0.496099,0.608646,"(30, 100]"
13,15691483,56.0,female,34.400,0,no,southeast,11090.71780,0.496099,0.608646,"(30, 100]"
14,15600882,27.0,male,42.130,0,yes,southeast,39611.75770,0.704062,1.876473,"(30, 100]"
15,15643966,19.0,male,24.600,1,no,southwest,1837.23700,0.232446,-0.998690,"(22, 26]"
16,15737452,52.0,female,30.780,1,no,northeast,10797.33620,0.398709,0.014916,"(30, 100]"
17,15788218,23.0,male,23.845,0,no,northeast,2395.17155,0.212133,-1.122520,"(22, 26]"
18,15661507,56.0,male,40.300,0,no,southwest,10602.38500,0.654829,1.576327,"(30, 100]"
19,15568982,30.0,male,35.300,0,yes,southwest,36837.46700,0.520312,0.756258,"(30, 100]"

In [19]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1334 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1334 non-null   int64
 1   age           1334 non-null   float64
 2   sex           1334 non-null   object
 3   bmi           1334 non-null   float64
 4   children      1334 non-null   int64
 5   smoker        1334 non-null   object
 6   region        1334 non-null   object
 7   charges       1334 non-null   float64
 8   bmi_norm      1334 non-null   float64
 9   bmi_standard  1334 non-null   float64
 10  bmi_counts    1334 non-null   category
dtypes: category(1), float64(5), int64(2), object(3)
memory usage: 116.2+ KB

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
#性别
le = LabelEncoder()
le.fit(insurance.sex.drop_duplicates()) 
insurance.sex = le.transform(insurance.sex)

In [22]:
# 是否抽烟
le.fit(insurance.smoker.drop_duplicates()) 
insurance.smoker = le.transform(insurance.smoker)

In [23]:
# 地区
le.fit(insurance.region.drop_duplicates()) 
insurance.region = le.transform(insurance.region)

In [24]:
# BMI 分组
insurance["bmi_counts"]=insurance["bmi_counts"].astype(str)
le.fit(insurance.bmi_counts.drop_duplicates()) 
insurance.bmi_counts = le.transform(insurance.bmi_counts)

In [25]:
insurance.head(20)

,id,age,sex,bmi,children,smoker,region,charges,bmi_norm,bmi_standard,bmi_counts
0,15634602,19.0,0,27.900,0,1,3,16884.92400,0.321227,-0.457444,2
1,15647311,18.0,1,33.770,1,0,2,1725.55230,0.479150,0.505317,3
2,15619304,28.0,1,33.000,3,0,2,4449.46200,0.458434,0.379026,3
3,15701354,33.0,1,22.705,0,0,1,21984.47061,0.181464,-1.309496,1
4,15737888,32.0,1,28.880,0,0,1,3866.85520,0.347592,-0.296711,2
5,15574012,31.0,0,25.740,0,0,2,3756.62160,0.263115,-0.811714,1
6,15592531,46.0,0,33.440,1,0,2,8240.58960,0.470272,0.451192,3
7,15656148,37.0,0,27.740,3,0,1,7281.50560,0.316922,-0.483687,2
8,15792365,37.0,1,29.830,2,0,0,6406.41070,0.373150,-0.140898,2
9,15592389,60.0,0,25.840,0,0,1,28923.13692,0.265806,-0.795313,1
10,15767821,25.0,1,26.220,0,0,0,2721.32080,0.276029,-0.732988,2
11,15737173,62.0,0,26.290,0,1,2,27808.72510,0.277912,-0.721507,2
12,15632264,23.0,1,34.400,0,0,3,1826.84300,0.496099,0.608646,3
13,15691483,56.0,0,34.400,0,0,2,11090.71780,0.496099,0.608646,3
14,15600882,27.0,1,42.130,0,1,2,39611.75770,0.704062,1.876473,3
15,15643966,19.0,1,24.600,1,0,3,1837.23700,0.232446,-0.998690,1
16,15737452,52.0,0,30.780,1,0,0,10797.33620,0.398709,0.014916,3
17,15788218,23.0,1,23.845,0,0,0,2395.17155,0.212133,-1.122520,1
18,15661507,56.0,1,40.300,0,0,3,10602.38500,0.654829,1.576327,3
19,15568982,30.0,1,35.300,0,1,3,36837.46700,0.520312,0.756258,3